<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Autores</title>
</head>
<body>
    <ul>
        <h2>Todos los autores en la base de datos:</h2>
        {% for autor in response.body %}
        <li><p>Nombre: {{autor.0}}</p>
        <p>Cedula: {{autor.1}}</p>
        <p>Pais: {{autor.2}}</p>
        <p>Ciudad: {{autor.3}}</p></li>
        {% endfor %}
    </ul>
    <button><a href="http://localhost:5000/">Volver</a></button>
</body>
</html>