<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>¡Bienvenido!</h1>
    <h2>Presentación</h2>
    <p>Reciba un cordial saludo, profesor. Este es el trabajo de los estudiantes <strong>Santiago Botero y Yeisson Pinilla</strong>.</p>
    <p>Como se mencionó en un mensaje en teams, nosotros decidimos poner en práctica conocimientos de aws, por lo tanto, nuestra api está realizada con funciones lambda en aws, nuestro api gateway es el mismo que ofrece aws como servicio, y para consumir la api en el frontend se usa flask como backend. Todos los códigos se pueden encontrar en nuestro <a href="">GitHub Repository</a></p>
    <p>Así mismo, nuestros ensayos los puede encontrar clickeando el nombre del estudiante correspondiente: <a href=""><strong>Santiago Botero</strong></a> o <a href=""><strong>Yeisson Pinilla</strong></a>.</p>

    <button>    
        <a href="/libros">CRUD libros</a>
    </button>

    <button>    
        <a href="/autores">CRUD autores</a>
    </button>

</body>
</html>